body {
    background: #1effe6;
}
a {
    text-decoration: none;
}
#form_registr {
    width: 15%;
    padding-top: 10%;
    margin: 0 auto;
}
#logo {
    width: 25%;
    padding-top: 1%;
    margin: 0 auto;
}
#line {
    border-bottom: 1px solid #8a8a8a;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#content {
    width: 25%;
    margin: 0 auto;
}
#category {
    padding-left: 35%;
    margin-top: -5%;
    padding-bottom: 5%;
    border-bottom: 1px solid #8a8a8a;
}