/*#form_sign_in {*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
/*}*/
/*#post {*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
/*}*/
/*----------------------------------------*/
body {
    background: #1effe6;
}
a {
    text-decoration: none;
}
#form_registr {
    width: 15%;
    padding-top: 10%;
    margin: 0 auto;
}
#logo {
    width: 25%;
    padding-top: 1%;
    margin: 0 auto;
}
#line {
    border-bottom: 1px solid #8a8a8a; /* Параметры линии */
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#content {
    width: 25%;
    margin: 0 auto;
}